// Navbar

.navbar {
}

.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0;

	.navbar-toggler-icon {
		@include toggler-icon;
	}

	@media (min-width: 992px) {
		display: none;
	}
}

.navbar-collapse {
	flex: 1;

	@media (max-width: 991.98px) {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100vh;
		overflow-x: hidden;
		z-index: 1080;
		transition: 0.4s;
		box-shadow:
			0 3px 6px rgba(var(--color--black-rgb), 16%),
			0 3px 6px rgba(var(--color--black-rgb), 23%);
		background: rgba(var(--color--background-rgb), 0.7);
		backdrop-filter: blur(6.5px);

		&:not(.show) {
			left: -100%;
		}

		&.show {
			left: 0;
		}
	}
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 1080;

	@media (min-width: 992px) {
		flex-direction: row;
	}

	& > .nav-item {
		@media (max-width: 991.98px) {
			border-bottom: 1px solid rgba(var(--color--foreground-rgb), 0.75);
		}
	}

	.nav-item {
		a {
			display: block;
			padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--20);
			font-size: var(--wp--preset--font-size--normal);
			font-weight: 300;
			text-decoration: none;
			line-height: 1;
			color: var(--wp--preset--color--foreground);

			&:hover,
			&:active,
			&:focus {
				color: var(--wp--preset--color--secondary);
			}
		}

		&.active {
			& > a {
				font-weight: 400;
			}
		}
	}

	&.has-dropdown-menu-to-left {
		.dropdown-menu {
			right: 0;

			.dropdown-menu {
				top: 0;
				right: 100%;
			}
		}
	}

	&.has-dropdown-menu-to-right {
		.dropdown-menu {
			left: 0;

			.dropdown-menu {
				top: 0;
				left: 100%;
			}
		}
	}
}

.dropdown {
	position: relative;
	display: inline-block;

	.dropdown-menu {
		list-style: none;
		padding: 0;
	}

	.nav-item {
		a {
			@media (max-width: 991.98px) {
				padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--20);
			}
		}
	}

	a.dropdown-toggle {
		padding-right: 1.875rem;

		@media (max-width: 991.98px) {
			padding-bottom: 0.6rem;
		}

		span {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				right: -15px;
				border-style: solid;
				border-width: 0 2px 2px 0;
				border-color: var(--wp--preset--color--primary);
				display: inline-block;
				padding: 3px;
				transform: translateY(-100%) rotate(45deg);
			}
		}
	}

	@media (min-width: 992px) {
		.dropdown-menu {
			position: absolute;
			display: none;
			min-width: 155px;
			z-index: 1080;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			background: rgba(var(--color--background-rgb), 0.7);
			backdrop-filter: blur(6.5px);

			.nav-item {
				&:not(:first-of-type) {
					border-top: 1px solid rgba(36, 32, 12, 0.75);
				}
			}
		}

		&:hover {
			a.dropdown-toggle {
				span {
					&::after {
						border-color: var(--wp--preset--color--foreground);
					}
				}
			}

			// Show the dropdown menu
			& > .dropdown-menu {
				display: block;
			}
		}
	}
}
