// Footer

.footer {
	padding-top: var(--wp--preset--spacing--80);
	padding-bottom: var(--wp--preset--spacing--80);
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--quaternary);
	background-image: url("../../images/footer-graph.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	@media (min-width: 1400px) {
		background-position: 33% center;
	}

	@media (min-width: 1600px) {
		background-position: 10% center;
	}

	a {
		color: var(--wp--preset--color--white);
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			text-decoration: underline;
			color: inherit;
		}
	}

	ul {
		display: flex;
		justify-content: flex-start;
		gap: var(--wp--preset--spacing--20);
		margin-top: 0;
		margin-bottom: var(--wp--preset--spacing--30);
		padding: 0;
		list-style: none;
		line-height: 1;
	}

	svg {
		width: var(--wp--preset--font-size--medium);
		fill: var(--wp--preset--color--white);
	}

	.container,
	.container-wide,
	.container-fluid {
		display: grid;
		gap: var(--wp--preset--spacing--60);
		grid-template-columns: 100%;
		grid-template-areas:
			"LG"
			"AB"
			"MN"
			"CR"
			"DV";

		@media (min-width: 992px) {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas:
				"LG LG LG LG"
				"AB MN . ."
				"AB MN . ."
				"CR DV . .";
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
	}

	&__logo {
		grid-area: LG;

		.custom-logo {
			max-width: 210px;
		}
	}

	&__about {
		grid-area: AB;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: var(--wp--preset--spacing--60);

		.address {
			strong {
				display: block;
				margin-bottom: var(--wp--preset--spacing--20);
				font-weight: 500;
			}

			span {
				display: block;
				max-width: 250px;
			}
		}
	}

	&__nav {
		grid-area: MN;

		.footer-menu {
			flex-direction: column;
		}

		.footer-cta {
			@include button-white;

			margin-top: var(--wp--preset--spacing--30);
			display: flex;
			align-items: center;
			align-self: flex-start;
			gap: var(--wp--preset--spacing--30);

			svg {
				width: 40px;
			}
		}
	}

	&__copyright,
	&__developer {
		font-size: var(--wp--preset--font-size--small);
	}

	&__copyright {
		grid-area: CR;
	}

	&__developer {
		grid-area: DV;
	}
}
