// Header
.header {
	.navbar {
		position: fixed;
		top: 0;
		width: 100%;
		padding-top: var(--wp--preset--spacing--50);
		padding-bottom: var(--wp--preset--spacing--20);
		color: var(--wp--preset--color--foreground);
		border-bottom: 1px solid var(--wp--preset--color--foreground);
		background-color: var(--wp--preset--color--white);
		z-index: 1090;

		.container,
		.container-wide,
		.container-fluid {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: var(--wp--style--block-gap);
		}

		.navbar-brand-link {
			position: relative;
			display: block;
			width: 180px;
			height: 43px;
		}

		.custom-logo,
		.custom-logo-sticky {
			position: absolute;
			top: 0;
			left: 0;
		}

		.custom-logo {
			opacity: 1;
			transition: 0.3s;
		}

		.custom-logo-sticky {
			opacity: 0;
			transition: 0.3s;
		}

		&.is-sticky {
			background: rgba(var(--color--background-rgb), 0.7);
			backdrop-filter: blur(6.5px);

			.navbar-brand {
				.custom-logo {
					opacity: 0;
				}

				.custom-logo-sticky {
					opacity: 1;
				}
			}
		}
	}

	&.corp {
		.navbar {
			.navbar-brand-link {
				height: unset;
				width: auto;
				max-width: 306px;
			}

			.custom-logo {
				position: unset;
				top: unset;
				left: unset;
			}
		}
	}
}
