// Toggler Icon

@mixin toggler-icon {
	display: inline-block;
	cursor: pointer;

	.bar1,
	.bar2,
	.bar3 {
		margin: 5px 0;
		height: 5px;
		border-radius: 5px;
		background-color: var(--wp--preset--color--foreground);
		transition: 0.4s;
	}

	.bar1 {
		margin-left: 0;
		margin-right: 7px;
		width: 35px;
	}

	.bar2 {
		margin-left: 7px;
		margin-right: 0;
		width: 35px;
	}

	.bar3 {
		margin-left: 0;
		margin-right: 14px;
		width: 28px;
	}

	&.close {
		.bar1 {
			margin-left: 7px;
			margin-right: 0;
		}

		.bar2 {
			margin-left: 0;
			margin-right: 7px;
		}

		.bar3 {
			margin-left: 14px;
			margin-right: 0;
		}
	}
}
